/*General*/

@font-face {
  font-family: 'Roboto';
  src: url('/src/font/Roboto-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/font/Roboto-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

:root {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  display: grid;
  grid-template: 130px calc(100vh - 130px) / 250px 1fr;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: lightpink;
}

.header {
  background-color: lightblue;
  grid-column-start: 2;
}

.main {
  grid-column-start: 2;
  grid-row-end: 3;
  background-color: lightgreen;
  padding: 50px;
}