/*General*/

@font-face {
  font-family: 'Roboto';
  src: url('/src/font/Roboto-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/font/Roboto-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

:root {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

body {
  background-color: rgb(44, 114, 175);
  color: white;
}

/*Page layout*/

body {
  display: grid;
  grid-template: 130px calc(100vh - 130px) / 250px 1fr;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
}

.header {
  grid-column-start: 2;
}

.main {
  grid-column-start: 2;
  grid-row-end: 3;
  padding: 50px;
}

/*Header*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Nav*/

.nav {
  padding: 1em;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  color: black;
}

.nav img {
  width: 20px;
}

.nav-title {
  font-size: 1.25rem;
}

.nav-header {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.nav-project-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 5px;
}

.nav-project-item:hover {
  background-color: rgb(223, 223, 223);
}

.--selected {
  text-decoration: underline;
}

/*Main*/

.project-container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 2em;
}

.project-title {
  font-size: 1.25rem;
}

.project-container-header img {
  width: 25px;
}

.todo-list-container {
  display: grid;
  grid-auto-rows: 120px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1em;
}

.todo-card {
  background-color: white;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  padding: 1em;
  display: grid;
  grid-template: 1fr 1fr / min-content min-content min-content min-content min-content 1fr;
  align-items: center;
  column-gap: 1em;
  white-space: nowrap;
}

.todo-card img {
  width: 30px;
}

.todo-check-btn {
  grid-area: 1 / 1 / 3 / 2;
}

.todo-delete-btn {
  grid-column-start: 6;
  grid-row-start: 1;
  justify-self: end;
}

.todo-description {
  grid-column-start: 2;
  grid-column-end: 7;
}

.--low {
  color: green;
}

.--high {
  color: rgb(146, 31, 31);
}

/*Forms*/

form {
  position: fixed;
  top: 25%;
  left: 40%;
  padding: 2em;
  background-color: white;
  outline: 2px solid black;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  box-sizing: border-box;
}

form img {
  width: 30px;
}

form fieldset {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-title,
.form-input-container,
form input,
form select {
  font-size: 1.25rem;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form input,
form select {
  box-sizing: border-box;
  padding: 4px 15px;
  width: 80%;
}

form input:focus,
form select:focus {
  outline: 1px solid rgb(37, 60, 90);
}

.form-button-fieldset {
  align-items: center;
}

.project-form-add-btn,
.todo-form-add-btn,
.edit-form-add-btn {
  border: 2px solid black;
  border-radius: 100px;
  padding: 3px 5px;
}

.project-form-add-btn:hover,
.todo-form-add-btn:hover,
.edit-form-add-btn:hover {
  background-color: rgb(233, 233, 233);
}

.project-form-close-btn,
.todo-form-close-btn,
.edit-form-close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
