/*General*/

@font-face {
  font-family: 'Roboto';
  src: url('/src/font/Roboto-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/font/Roboto-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

:root {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/*Page layout*/

body {
  display: grid;
  grid-template: 130px calc(100vh - 130px) / 250px 1fr;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
}

.header {
  grid-column-start: 2;
}

.main {
  grid-column-start: 2;
  grid-row-end: 3;
  
  padding: 50px;
}

/*Header*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Nav*/

.nav {
  padding: 1em;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}

.nav img {
  width: 20px;
}

.nav-title {
  font-size: 1.25rem;
}

.nav-header {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.nav-project-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 5px;
}

.nav-project-item:hover {
  background-color: rgb(240, 239, 239);
}